<label class="label label-info">Product</label>
<div class="col-md-12" style="border: 1px solid; border-radius: 10px">
    <div class="col-md-2">
        <label class="control-label">Product Code</label>
    </div>
    <div class="col-md-10">
        <input type="text" style="width: 100%" id="txt_ProductCode" name="product_code" />
    </div>
    <div class="col-md-2">
        <label class="control-label">Product Name</label>
    </div>
    <div class="col-md-10">
        <input type="text" style="width: 100%" id="txt_ProductName" name="product_name" />
    </div>
    <div class="col-md-2">
        <label class="control-label">Product Description</label>
    </div>
    <div class="col-md-10">
        <textarea rows="4" style="width: 100%" id="txt_ProductDesc" name="product_description"></textarea>
    </div>
    <div class="col-md-12">
        <button id="btn_SaveProduct" class="btn btn-success">
            Save Product
        </button>
    </div>
</div>
